<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-34-231-63-30.compute-1.amazonaws.com:5432/d35quh3qbq2gae</property>
        <property name="hibernate.connection.username">sqpgojpyvwtnht</property>
        <property name="hibernate.connection.password">de8e0c754266e06bea53599d27b73106601d0e164a54f6737cbde47db73e98d2</property>
        <!-- JDBC connection pool (use the built-in) -->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>

        <mapping class="ru.learnUp.lesson23.hibernate.dao.entity.Author" />
        <mapping class="ru.learnUp.lesson23.hibernate.dao.entity.Book" />
        <mapping class="ru.learnUp.lesson23.hibernate.dao.entity.BookStorage" />
        <mapping class="ru.learnUp.lesson23.hibernate.dao.entity.Client" />
        <mapping class="ru.learnUp.lesson23.hibernate.dao.entity.Order" />
        <mapping class="ru.learnUp.lesson23.hibernate.dao.entity.OrderDetails" />

    </session-factory>
</hibernate-configuration>